# Configuration file

general {
    # Determines whether or not the default tips should be possible. This includes tips added directly by other mods through their language files. [default: true]
    B:allowDefaultTips=false

    # A list of custom tips added by the user or modpack. [default: ]
    S:customTips <
		You can climb most trees!
		Make sure your livestock are well-fed, happy, and have decent shelter.
		Don't have torches? Make a flint and tinder, a bowdrill, or a candle!
		Fire Creepers' explosions cause fire and may result in item loss.
		Breaking blocks and making loud noises can attract monsters.
		Many monsters investigate or even break light sources if they're close enough.
		Take time to stash your food. Most crops won't grow during winter!
		Monsters lead invasions every 12 nights! On the night where the sky is red.
		Mining below bedrock allows access even deeper underground... What is underneath the Beneath?
		Onyx and Dragonsteel are the one of best materials for armor in the game.
		Mythril is known for its magical properties.
		Viridium is very fast and strong, but has weak durability.
		The Beneath contains very large dungeons with lots of loot.
		You can't sleep during invasions and thunderstorms.
		Almost every armor has a unique set bonus!
		Furnace carts are powerful, and can be used to push trains. 
		Chain minecarts together into trains with Small Chains.
		Cobwebs are extremely flammable.
		The further you progress, the more unique mobs will spawn.
		Your actions have consequences.
		Frosted Amedian tools make you immune to wither damage.
		Wither Bone armor makes skeletal creatures never attack you.
		Dragons are extremely dangerous and should only be challenged when you have some of the best equipment.
		The Queen of the Valkyries awaits worthy challengers to face her in combat.
		Soulforged Steel is the best ingot for pickaxes in the game.
		The Onyx Slayer Greatbow is the best bow in the game.
		One full day and night is 40 minutes of real time - twice as long as in vanilla Minecraft.
		Many humanoid monsters can pillar up to you if you're above them.
		Monsters with pickaxes will mine to get to you!
		You can carry a chest, barrel, or pot by shift right-clicking it.
		You can carry chickens, goats, sheep, baby livestock, and some small animals by shift right-clicking them.
		Pirate ships hold rare loot, but are occupied by dead pirates! Or even worse alive ones!
		Try dual-wielding swords!
		You can only till soil if it's near a water source. Seeds need immediate irrigation to survive!
		Sleeping makes you significantly hungrier when you wake up.
		Mythril, Onyx, and Viridium are the 3 late-game ores.
		Silver is slightly better than iron, but can't mine diamond!
		Join our Discord and discuss base defense strategies!
		You can change any gear's modifier with a Reforging Station.
		Bones can be turned into stock: tasty, cheap, and a great ingredient.
		Craft or find a backpack to haul more junk along with you.
		Check the Traps tab in the Advancements section for special ways to defend your base.
		The darkness damages you while in the Beneath. Something is trying to pull you into it.
		You can still punch trees!
		Berry bushes and fruit trees are great for early game food.
		You can hold a light source in your off-hand while you're exploring.
		Cabinets are a nice alternative to chests and can be stacked upwards.
		If you find a lost miner villager in a cave, lead them to the surface for a reward!
		Boat moving slowly? Place a banner on the boat!
		Use the trashcan button in your inventory to conveniently destroy unwanted items.
		Livestock will be stressed if there's too many of them in a small pen.
		Ancient Tomes can be used to upgrade enchanted books beyond their normal enchantment limit.
		Many mobs have unique variants. Some are more common in specific biomes.
		Each season lasts 12 days.
		Tamed wolves will sometimes leave dung behind.
		Be sure to sleep in a secure and well-lit area, or your rest may be interrupted...
		There is no coal in the Beneath. Bring torches... The Void Keeper doesn't wait.
		The Nether Chest multiplies stack sizes by 8.
		Killing the Ender Dragon will unleash new and dangerous threats in your world.
		You will require a Mystical Tears to enter the Twilight Forest.
		Entering other dimensions weakens the boundaries between worlds...
		You are not the only one that knows how to use portals...
		Chickens and peacocks occasionally leave feathers behind.
		You can grow summer crops year-round in tropical biomes.
		Defending villages from monsters increases your reputation with that settlement.
		Far below the surface are the beating hearts of the world's core...
		Items in your hotbar and certain items stay with you even after you die.
		Armor pieces will drop if you don't put Soulbind enchantment on them! 50% base + 50% at max level.
		Shift + right click to throw a glaretorch.
		Craft a season clock or mechanism to keep track of the seasons.
		Use a Weather Sensor or a Wind Chime to prevent windmills from breaking during harsh weather.
		Prepare to spelunk! Ore is rare outside of caves.
		Monsters have a chance to drop parts of special totems with unique utilities.
		Water is only infinitely renewable in rivers, oceans, and wetland biomes.
		Greenhouse glass can be used to grow crops out of their normal growing seasons.
		Turn unwanted enchanted books into Enchanted Paper, used to power magical Wards.
		Pigs drop tallow, which can be used to make candles or boost the durability of items.
		Respect zombie pigmen's personal space!
		Try giving a tamed wolf a training treat!
		Make sure you raise your Reskillable stats as you progress to have access to new items, blocks, or traits!
		Cartographer villagers sell maps to nearby structures.
		Stealing villagers' crops without replanting them will lower your reputation!
		Some ores are much harder to see in certain types of stone. Look carefully!
		Some enchantments can be found in loot while others can only be applied in Enchanting Tables.
		Crabs love music.
		Many rare accessories grant immunity to negative status effects.
		Mimics are tough and dangerous, but they will always drop a single bauble on death.
		Use the advancements tab to guide your progression.
		Make sure to craft a Tome of the Diligent if you plan to pursue Wizardry!
		Copper can be used to craft basic weapons, but is most useful for creating bronze ingots.
		Nether Chests and rare chests or troves made from Radiant Quartz are great ways to store lots of items.
		Radiant Storage can be crafted with ender biotite to create EnderStorage chests.
		Plague can't be cured with milk, but there are several potential treatments to ward it off.
		Rats can be tamed by tossing Cheese Chunks on the ground near them.
		Crops have a high chance to grow faster during a Harvest Moon.
		Many items can be magically repaired in the Enchanter when fueled by ambrosium or electrum.
		Intestines can contain a variety of strange items. Who knew?!
		Radiant Troves are the most efficient way to store huge amounts of one type of item.
		You can use Golem Heads to create a variety of new golem types.
		Some factions of tribes or monsters require special items to gain their trust.
		Most monsters will never hunt mooshrooms - they find the taste of fungus disgusting.
		When you see the [+] symbol in your crosshair, you can place a block through reach around placing even without seeing the block's face.
		The Enchanting Table can only be used to apply enchantments at night.
		The Harvest Moon has a high chance to make crops grow faster.
		Lunar Water can be used to cure most common status effects.
		Aqueducts and wells are useful for reliable sources of water.
		Items you keep and drop will lose durability upon death.
		Onyx deposits may rarely contain phosphophyllite, but the chances are low.
		When you gain more experience, you gain temporary hearts - but this bonus health is lost if you lose or spend the XP.
		Plague Doctor villagers might look scary, but they can be very helpful!
		Dragons have been extinct in the Overworld for centuries, but they can still be found in a dimension shrouded by twilight...
		Runes of Disintegration are used to blow up magical items, leaving spectral silt behind.
		Many items have information tabs that display lore, extra details, or hints on how to use them.
		Fire resistance is, as expected, a great way to counter monsters that deal fire damage!
		You can use bandages to heal yourself, but you will slow down for a while.
		If you are having difficulty with the modpack, try getting better at the game!
		Many elixirs and potions can be made before entering the Nether!
		Ancestral spirits can be obtained by using bottles of spirits on a block of soul sand.
		Level up your perks to gain powerful passive buffs. Some even stack with other bonuses.
		Use a wizard's workbench to have access to wand spells.
		Remember to increase your stats like Strength or Gathering to allow usage of certain weapons, tools, and gear.
		Dying with a Gravestone of the Damned will keep your inventory safe!
		Waystones can be used for traveling between areas for a cost! Even dimensions!
		Most enemies will run or escape from you if their health is below a threshold.
		Stealth is an important part of being a Rogue.
		Each faction has more presence within their own biomes. Make sure you remember which ones!
		Very rarely, you might a find friendly faction. They are called the "Nogg" faction.
		Make some backpacks to carry your burdens.
		Remember to keep your temperature and thirst at a recommended level.
		Make sure to drink tea or smoothies to maintain your temperature.
		Eat lots of good food! Variety is the spice of life!
		High nutritional status on any food group will provide different buffs. As long as you maintain it.
		Too cold? Use warm liners on your armors.
		Too hot? Use cool liners on your armors.
		Each armor piece give individual temperature bonuses.
		Make sure to purify your water, unless you want parasites.
		Nether is very hot, Aether is cold, The End is the void, and the Beneath is dark.
		ROCK AND STONE TO THE BONE!
		Don't forget to read the guidebook if you need a reminder of what you might need.
		In Peace, Vigilance. In War, Victory. In Death, Sacrifice.
		There are currently only one friendly faction, the Nogg. And only one neutral faction, the Empire. The rest are either hostile or insane.
		Hold Shift and Right click with an empty hand to revive a friend, it takes a few seconds! Make sure you see their name on the left side of screen
		In multiplayer, assigning roles amongst each other will surely increase your chance of survival.
		Use a modern lockpick for modern locks. Use legacy lockpicks on legacy chests.
		There are many aspects of arcane magic for Wizards. Try them out! Make sure to use a scroll of identification!
		You can wall-jump! Press Space on a wall to grab onto it, look at a direction you want to jump off to and let go of the space bar.
		Make sure to check the Bounty Boards in villages since they might good bounties. They even progress with you!
		If playing solo, make sure to cover all basis.
		If playing multiplayer, make sure to work together!
		
     >

    # The color of the actual tip text. [default: FFFFFF]
    S:textColor=FFFFFF

    # The color of the top/title text for the tip. [default: FFFF55]
    S:titleColor=FFAA00

    # The amount of offset the tip text should have from the left of the screen. [range: 0 ~ 2147483647, default: 5]
    I:xOffset=5

    # The amount of offset the tip text should have from the bottom of the screen. [range: 0 ~ 2147483647, default: 40]
    I:yOffset=40
}


